:root {
  --fs-1: 2rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --spacer-sm: 20px;
  --spacer-md: 30px;
  --spacer-lg: 40px;
}

@media (min-width: 768px) {
  :root {
    --fs-1: 2.5rem;
    --fs-2: 2rem;
    --fs-3: 1.5rem;
    --spacer-sm: 20px;
    --spacer-md: 30px;
    --spacer-lg: 40px;
  }
}

@font-face {
  font-family: "Impact";
  src: url(../img/fonts/impact.ttf);
}
@font-face {
  font-family: "AgencyFB";
  src: url(../img/fonts/AgencyFB.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #08122b 0%, #1e3b29 100%);
  color: #fff;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: "Impact";
  letter-spacing: 0.5px;
  opacity: 0.9;
}

h1 {
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: 1.125rem;
}

.text-yellow {
  color: #ece218;
}

.text-green {
  color: #70d685;
}

.text-red {
  color: #bc6a7d;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  padding: var(--spacer-md) var(--spacer-sm);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .wrapper {
    max-width: 1536px;
  }
}

.grid {
  height: calc(100vh - 2 * var(--spacer-md));
  min-height: 600px;
  max-height: 1000px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr) 0.4fr;
  grid-column-gap: var(--spacer-sm);
  grid-row-gap: var(--spacer-sm);
}
@media (min-width: 768px) {
  .grid {
    margin-left: 256px;
  }
}

@media (min-width: 1536px) {
  .identity {
    grid-row: 1/span 1;
    grid-column: 1/span 5;
  }

  .logo {
    grid-row: 1/span 1;
    grid-column: 6/span 2;
  }

  .support-artist {
    grid-row: 1/span 1;
    grid-column: 8/span 5;
  }

  .prices-clients {
    grid-row: 2/span 2;
    grid-column: 1/span 3;
  }

  .prices {
    height: calc(30% - var(--spacer-sm));
    margin-bottom: var(--spacer-sm);
  }

  .clients {
    height: 70%;
  }

  .my-team {
    grid-row: 2/span 2;
    grid-column: 4/span 3;
  }

  .digital-art {
    grid-row: 2/span 1;
    grid-column: 7/span 3;
  }

  .pixel-art {
    grid-row: 3/span 1;
    grid-column: 7/span 3;
  }

  .minecraft-models {
    grid-row: 2/span 1;
    grid-column: 10/span 3;
  }

  .reviews {
    grid-row: 3/span 2;
    grid-column: 10/span 3;
  }

  .contact-me {
    grid-row: 4/span 1;
    grid-column: 1/span 4;
  }

  .social-media {
    grid-row: 4/span 1;
    grid-column: 5/span 5;
  }

  .close-btn {
    grid-row: 4/span 1;
    grid-column: 10/span 3;
    background: #000;
  }

  .prices-modal,
.digital-art-modal,
.pixel-art-modal,
.minecraft-models-modal {
    grid-row: 1/span 3;
    grid-column: 1/span 12;
  }

  .my-team-modal {
    grid-row: 1/span 3;
    grid-column: 1/span 9;
  }

  .apply-modal {
    grid-row: 1/span 3;
    grid-column: 10/span 3;
  }

  .reviews-card {
    grid-row: 2/span 3;
    grid-column: 10/span 3;
  }
}
.sidebar {
  position: static;
  display: flex;
  height: 96px;
  width: 100%;
  margin-bottom: var(--spacer-sm);
}
.sidebar .crown {
  position: relative;
}
.sidebar .crown .icon {
  position: absolute;
  top: 75%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 15%;
}
.sidebar .design-level {
  flex-grow: 1;
  border: 2px solid #7e69a7;
  border-left: 0;
  overflow: hidden;
}
.sidebar .portrait {
  display: none;
  width: 100%;
  height: auto;
}
.sidebar .landscape {
  height: 100%;
  width: auto;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    flex-direction: column;
    height: calc(100vh - 2 * var(--spacer-md));
    max-height: 1000px;
    width: 256px;
    padding-right: var(--spacer-lg);
  }
  .sidebar .crown .icon {
    top: 0;
    left: 25%;
  }
  .sidebar .design-level {
    border: 2px solid #7e69a7;
    border-top: 0;
  }
  .sidebar .portrait {
    display: inline;
  }
  .sidebar .landscape {
    display: none;
  }
}
button {
  font-size: var(--fs-3);
  font-family: "AgencyFB";
  height: 2.5rem;
  padding: 0.25rem 2rem;
  color: #fff;
  background: transparent;
  border-radius: 2.5rem;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
button img {
  max-height: 100%;
  margin-right: 1rem;
}

.card {
  border-radius: 8px;
  border: 2px solid var(--cl);
  padding: var(--spacer-md);
  position: relative;
}
.card.-no-p {
  padding: 0;
}
.card.-sm {
  padding: var(--spacer-sm);
}
.card.-lg {
  padding: var(--spacer-lg);
}
.card > .img {
  position: absolute;
  filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.5));
}

.modal {
  border-radius: 8px;
  border: 2px solid var(--cl);
  padding: 0 var(--spacer-sm);
  position: relative;
  visibility: hidden;
  opacity: 0;
}
.modal h2 {
  text-align: center;
  padding: calc(var(--spacer-sm) / 2) 0;
  border-bottom: 2px solid var(--cl);
}
.modal .img {
  position: absolute;
  top: -30px;
  right: -40px;
  width: 180px;
  z-index: 9;
  filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.5));
}

.crown-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.crown-text .age {
  font-family: "AgencyFB";
  font-size: 1rem;
  color: #8d928a;
  margin-top: 0.25rem;
}

.design-level {
  position: relative;
}
.design-level-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .design-level-text {
    flex-direction: column;
  }
}
.design-level-text h3 {
  margin: 0 0.75rem;
}
@media (min-width: 768px) {
  .design-level-text h3 {
    margin: 2rem 0;
  }
}
.design-level-text .rating {
  display: flex;
}
@media (min-width: 768px) {
  .design-level-text .rating img {
    margin: 0 0.5rem;
  }
}

.identity {
  background: linear-gradient(135deg, #377138 0%, transparent 50%);
  display: flex;
  align-items: center;
}
.identity .level {
  text-align: center;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 var(--spacer-lg);
  font-family: "AgencyFB";
}
.identity .level h3 {
  font-family: "AgencyFB";
}
.identity .designer-statistics {
  font-family: "AgencyFB";
  margin-top: 1.5rem;
}
.identity .designer-statistics img {
  width: 1.375rem;
  margin-right: 0.5rem;
  vertical-align: text-bottom;
}

.support-artist {
  --cl: #485b5d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.support-artist .img {
  top: -1.25rem;
  right: -1.25rem;
  height: 120px;
}

.prices {
  --cl: #5a9e94;
  background: linear-gradient(90deg, #144e53 0%, transparent 75%);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.prices .icon {
  margin-right: 1rem;
}
.prices .img {
  bottom: -0.25rem;
  right: -1rem;
  height: 80%;
}
.prices-modal {
  --cl: #5a9e94;
  background: linear-gradient(#3f706b 0%, transparent 75%);
}

.clients {
  --cl: #c4b283;
  background: linear-gradient(135deg, #6f6644 0%, transparent 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1536px) and (max-height: 732px) {
  .clients {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.clients .img {
  width: 55%;
  top: 46%;
  transform: translateY(-50%);
  left: -1.5rem;
}
.clients .no-of-clients {
  display: flex;
}
.clients .no-of-clients img {
  margin-right: 1rem;
}
.clients .no-of-clients .no {
  margin-left: auto;
}
.clients .success {
  align-self: flex-end;
  text-align: center;
  margin-right: -0.75rem;
}
.clients .percent {
  text-align: center;
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0.5rem auto 0 auto;
  font-family: "AgencyFB";
}
.clients .percent h3 {
  font-family: "AgencyFB";
}

.my-team {
  --cl: #7cb0d0;
  background: linear-gradient(135deg, #486b7f 0%, #192c3c 75%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.my-team .icon {
  margin: var(--spacer-sm) 0 var(--spacer-lg) 0;
}
.my-team button {
  margin: auto 0 var(--spacer-sm) 0;
}

.my-team-modal,
.apply-modal {
  --cl: #7cb0d0;
  background: linear-gradient(#486b7f 0%, transparent 75%);
}

.digital-art {
  --cl: #85c192;
  background: linear-gradient(135deg, #49835d 0%, transparent 75%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}
.digital-art .img {
  top: -0.5rem;
  right: -0.5rem;
  height: 60%;
}
.digital-art-modal {
  --cl: #85c192;
  background: linear-gradient(#3f7050 0%, transparent 75%);
}

.pixel-art {
  --cl: #bd6a7d;
  background: linear-gradient(135deg, #7f5060 0%, transparent 90%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}
.pixel-art .img {
  bottom: -0.5rem;
  left: 3rem;
  height: 85%;
}
.pixel-art-modal {
  --cl: #bd6a7d;
  background: linear-gradient(#7f5060 0%, transparent 75%);
}
.pixel-art-modal .img {
  top: -70px;
  right: -30px;
  width: 150px;
  transform: rotate(15deg);
}

.minecraft-models {
  --cl: #ba9d5e;
  background: linear-gradient(135deg, #89783e 0%, transparent 75%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}
.minecraft-models .img {
  top: -0.5rem;
  right: -0.5rem;
  height: 70%;
}
.minecraft-models-modal {
  --cl: #ba9d5e;
  background: linear-gradient(#89783e 0%, transparent 75%);
}
.minecraft-models-modal .img {
  width: 120px;
}

.reviews {
  --cl: #bccfc8;
  background: linear-gradient(135deg, #556b64 0%, transparent 60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.reviews h3 {
  margin: var(--spacer-md) 0;
}
.reviews-card {
  --cl: #bccfc8;
  background: linear-gradient(-45deg, #556b64 0%, transparent 50%);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-close {
  margin-top: auto;
  cursor: pointer;
  padding: 1rem;
}

.contact-me {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 var(--spacer-md);
  display: flex;
  align-items: center;
}
.contact-me h4 {
  margin: 0 auto 0 var(--spacer-sm);
}

.social-media {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 0 0 var(--spacer-md);
  display: flex;
  align-items: center;
}
.social-media h4 {
  margin: 0 auto 0 var(--spacer-sm);
}
.social-media button {
  border: none;
  border-radius: 16px;
  background: #65585b;
  height: 100%;
  padding: 0 var(--spacer-md);
  display: flex;
  font-size: 1rem;
  text-align: start;
}

.close-btn {
  --cl: #bc6a7c;
  background: linear-gradient(#694f51 0%, transparent 100%);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.close-btn h2 {
  text-align: center;
  color: var(--cl);
}

/*# sourceMappingURL=style.css.map */
