.social-media {
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.1);
	padding: 0 0 0 var(--spacer-md);
	@include flex($ai: center);
	h4 {
		margin: 0 auto 0 var(--spacer-sm);
	}
	button {
		border: none;
		border-radius: 16px;
		background: #65585b;
		height: 100%;
		padding: 0 var(--spacer-md);

		display: flex;
		font-size: 1rem;
		text-align: start;
	}
}
