@font-face {
	font-family: "Impact";
	src: url(../img/fonts/impact.ttf);
}
@font-face {
	font-family: "AgencyFB";
	src: url(../img/fonts/AgencyFB.ttf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(135deg, #08122b 0%, #1e3b29 100%);
	color: #fff;
	min-height: 100vh;
}
