h1,
h2,
h3,
h4 {
	font-weight: 400;
	font-family: "Impact";
	letter-spacing: 0.5px;
	opacity: 0.9;
}
h1 {
	font-size: var(--fs-1);
}
h2 {
	font-size: var(--fs-2);
}
h3 {
	font-size: var(--fs-3);
}
h4 {
	font-size: 1.125rem;
}
